* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-body1 {
  display: flex;
  gap: 23rem;
  margin-left: 20rem;
}
h2 {
  font-weight: 500;
  font-family: Bahnschrift Light;
  line-height: 43px;
}

.main-content {
  margin-right: 479px;
  margin-top: 3rem;
}

.btn {
  justify-content: left;
  display: flex;
  margin-top: 67px;
  gap: 5rem;
  margin-bottom: 3rem;
}

.social-icons {
  display: flex;
  gap: 2rem;
  margin-top: 7rem;
}

.main-body-title {
  background-image: url("D:\MyLearning\Yummyaa\yummyaa\public\assets\Chef cook standing crossed arms vector image on VectorStock.jpg");
}
